# Dependencies
node_modules/

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Build
ios/
android/
web-build/

# Env
*.local
.env

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# OS
Thumbs.db
